*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}

@media screen and (min-width: 700px) {
  article {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    background: #eee;
    width: calc(50% + 1px);
    height: 100vh;
    margin: 0 auto 10vh 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 4px -4px 8px rgba(0, 0, 0, .4);
  }

  section {
    background: #e5e5e5;
    width: calc(50% + 1px);
    height: 100vh;
    margin: 0 0 10vh auto;
    position: sticky;
    top: 0;
    padding: 5vmin;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, .4);
  }

  figure:nth-of-type(1),
  section:nth-of-type(1) {
    margin: 0 0 10vh 0;
    width: 50%;
  }

  figure:nth-of-type(2n) {
    margin: 0 0 10vh auto;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, .4);
  }

  section:nth-of-type(2n) {
    margin: 0 auto 10vh 0;
    box-shadow: 4px -4px 8px rgba(0, 0, 0, .4);
  }

  figure:last-of-type,
  section:last-of-type {
    margin-bottom: 0;
  }

  section::before {
    background: inherit;
    z-index: 1;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 7vmin;
    height: 7vmin;
    transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
    clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
    box-shadow: -4px -2px 8px rgba(0, 0, 0, .4);
    border-radius: 1.5vmin 0 0 0;
  }

  section:nth-of-type(2n)::before {
    left: auto;
    right: 0;
    transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
  }

  figure img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }

  section>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }

  section>div>h3 {
    font-size: 5rem;
  }

  section>div>p {
    font-size: 1.5rem;
  }

  section:nth-of-type(2n)>div>h3 {
    text-align: right;
  }

  section:nth-of-type(2n+1)>div>h3 {
    text-align: left;
  }
}
