@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2 {
  color: #CE3434;
  text-align: center;
}


header {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.about--layout:nth-of-type(2n)>.profile__card--layout {
  flex-direction: row-reverse;
}


footer {
  margin-top: 1.2rem;
}
